<div class="section-header">
    <div class="title">
        @T("Common.Message")
    </div>
    <div class="options">
        <a id="mark-as-read" class="k-button">Mark as Read</a>
        <a id="mark-as-unread" class="k-button">Mark as Unread</a>
    </div>
</div>

<table class="adminContent">
    <tr><td width="18%"></td><td width="2%"></td><td width="80%"></td><td></td></tr>
    <tr>
        <td>
            @Html.Partial("_MessageFilter")
        </td>
        <td></td>
        <td>
            @Html.Partial("_MessageGrid")
        </td>
    </tr>
</table>