@using Wfm.Core.Domain.Common
@using Wfm.Core.Infrastructure
@{
    Layout = "~/Views/Shared/Layout/_ColumnsTwo.cshtml";
    ViewBag.PageClass = "html-topic-page";

    var commonSettings = EngineContext.Current.Resolve<CommonSettings>();
    var siteTitle = commonSettings.SiteTitle;
    var shortName = "GC Employment Staffing Agency";
    var pageTitle = "Administrative and Office";
    //var description = siteTitle + " is your one-stop resource centre for all your hiring needs. From receptionists and data entry clerks to bookkeepers and executive assistants, our qualified in-house staff ensures that the office staff we send you fit all of your criteria.";

    ViewBag.Title = pageTitle + " | " + shortName;
    //ViewBag.Description = description;
    ViewBag.Keywords = null;
    ViewBag.PageTitle = ViewBag.Title;
    //ViewBag.PageDescription = ViewBag.Description;
    ViewBag.PageName = shortName + " | " + pageTitle.ToLower();
}

@section left {
    @Html.Partial("Layout/_EmployerSideBar")
}
<div class="page topic-page" id="ph-topic">
    <div class="page-title" id="ph-title">
        <h1>Administrative and Office</h1>
    </div>
    <div class="page-body">
        <p>
            @siteTitle is your one-stop resource centre for all your hiring needs. From
            receptionists and data entry clerks to bookkeepers and executive assistants, our
            qualified in-house staff ensures that the office staff we send you fit all of your
            criteria. Through our comprehensive interviewing methods and skill testing specific
            to the job, @siteTitle will find you exactly what you are looking for. We
            have a great track record of placing highly-qualified staff in the following positions:
        </p>
        <ul>
            <li>Administrative and executive assistants</li>
            <li>Secretaries</li>
            <li>Receptionists and switchboard operators</li>
            <li>Word processing, spreadsheet and database specialists</li>
            <li>Clerks</li>
            <li>Accounting clerks</li>
            <li>Data-entry operators</li>
            <li>Desktop publishers</li>
        </ul>
        <p>
            <b>We deliver </b>
        </p>
        <p>
            Whether you need to staff for peak workloads due to the time of season, special
            projects or events, or just to fill a temporary position to accommodate your employees
            taking vacation time, @siteTitle delivers complete satisfaction.
        </p>
    </div>
</div>
