<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode title="Home" controller="Home" action="Index">
    <siteMapNode featureName="Dashboard" title="Dashboard" wfmResource="Admin.Dashboard" controller="Home" action="News" IconClass="fa-desktop" />   
   
    <siteMapNode featureName="Time Sheet" title="Time Clock" wfmResource="Common.TimeSheets" PermissionNames="ManageClientCompanyTimeSheets" IconClass="fa-calendar">
      <!--<siteMapNode title="Raw Punches" wfmResource="Client.RawPunches" PermissionNames="ManageClientCompanyTimeSheets" controller="TimeSheet" action="Punches"/>-->
      <siteMapNode title="Work Time" wfmResource="Admin.Menu.DailyTimeSheets" PermissionNames="ManageClientCompanyTimeSheets" controller="TimeSheet" action="EmployeeWorkTime" />
      <siteMapNode title="Time Chart History" wfmResource="Admin.TimeSheet.History" PermissionNames="ManageClientCompanyTimeSheets" controller="TimeSheet" action="EmployeeTimeChartHistory" />
      <siteMapNode featureName="Rescheduling" title="Rescheduling" wfmResource="Client.Rescheduling" controller="Rescheduling" action="Index" />
    </siteMapNode>
    
    <siteMapNode featureName="Time Sheet" title="Time Chart Approval" wfmResource="Admin.Menu.TimeSheetApproval" PermissionNames="ManageClientCompanyTimeSheets" controller="TimeSheet" action="EmployeeWorkTimeApproval" IconClass="fa-calendar-check-o" />
    <siteMapNode featureName="Time Sheet" title="Daily Attendance List" wfmResource="Common.DailyAttendanceList" controller="TimeSheet" action="DailyAttendanceList" IconClass="fa-calendar-o" />
    <siteMapNode featureName="Incident" title="Incidents" wfmResource="Admin.Candidate.Incidents" PermissionNames="ManageClientCompanyIncidents" >
      <siteMapNode title="Incident History" wfmResource="Admin.Candidate.IncidentHistory" PermissionNames="ManageClientCompanyIncidents" controller="Incident" action="Index" />
      <siteMapNode title="Download Report Templates" wfmResource="Admin.Candidate.Incident.DownloadTemplates" PermissionNames="ManageClientCompanyIncidents" controller="Incident" action="DownloadTemplates" />
    </siteMapNode>
    <siteMapNode featureName="Job Posting" title="Job Posting" wfmResource="Admin.JobPostings" PermissionNames="ManageClientJobPosting" controller="JobPosting" action="Index" IconClass="fa-bell" />
    <siteMapNode featureName="Employee" title="Employee" wfmResource="Common.Employees" PermissionNames="ManageClientEmployee" controller="Employee" action="Index" />
    
    <!--<siteMapNode featureName="Company" title="Companies" wfmResource="Common.Company" PermissionNames="ManageClientCompanies" controller="Company" action="Index" IconClass="fa-sitemap">
      <siteMapNode featureName="Company" title="Companies" wfmResource="Common.Company" PermissionNames="ManageClientCompanies" controller="Company" action="Index"/>
      <siteMapNode featureName="Contact" title="Contacts" wfmResource="Admin.CompanyContacts" PermissionNames="ManageClientCompanyContacts" controller="CompanyContact" action="Index" />
    </siteMapNode>-->
    <siteMapNode featureName="Scheduling" title="Scheduling" wfmResource="Common.Scheduling" PermissionNames="ManageClientScheduling, ManageSchedulingPlacement">
      <siteMapNode title="Weekly Demand" controller="Scheduling" action="WeeklyDemand" />
      <siteMapNode title="Team Schedule" wfmResource="Admin.TeamSchedule" controller="Scheduling" action="TeamSchedule" />
      <siteMapNode title="Schedule - Dashboard" wfmResource="Common.Schedule.VacancyView" controller="Scheduling" action="VacancyView" />
      <siteMapNode title="Schedule - Calendar View" wfmResource="Common.Schedule.ShiftView" controller="Scheduling" action="ShiftView" />
      <siteMapNode title="Settings" wfmResource="Admin.Settings">
        <siteMapNode title="Roles &amp; Shift Teams" wfmResource="Common.ShiftAndRoles" controller="Scheduling" action="ShiftAndRoles" />
        <siteMapNode title="Schedule Period" wfmResource="Common.SchedulePeriod" controller="Scheduling" action="SchedulePeriod" />
      </siteMapNode>
    </siteMapNode>
    <siteMapNode featureName="Report" title="Reports" wfmResource="Admin.Reports" PermissionNames="ClientReports" IconClass="fa-table">
      <siteMapNode title="Compliance Report" wfmResource="Report.GetComplianceReport" controller="Report" action="GetComplianceReport" PermissionNames="ClientReports"/>
      <siteMapNode title="Daily Attendance Report" wfmResource="Report.AttendanceReport" controller="Report" action="GetAttendanceReport" PermissionNames="ClientReports"/>
      <siteMapNode title="Daily Timesheet Report" wfmResource="Report.DailyTimeSheetReport" controller="Report" action="GetDailyTimeSheetReport" PermissionNames="ClientReports"/>
      <siteMapNode title="Detailed Labour Cost Report" wfmResource="Report.DetailedLabourCostReport" controller="Report" action="GetDetailedCostReport" PermissionNames="ClientHRReports"/>
      <siteMapNode title="Employees List Report" wfmResource="Report.EmployeesListReport" controller="Report" action="GetEmployeesListReport" PermissionNames="ClientReports"/>
      <!--<siteMapNode featureName="Scheduling" title="Employees Schedule Report" wfmResource="Report.EmployeesScheduleReport" controller="Report" action="GetEmployeesScheduleReport" PermissionNames="ClientReports"/>-->
      <siteMapNode title="Job Order Fill-in Rate" wfmResource="Report.JobOrderFillInRate" controller="Report" action="GetJobOrderFillInRate" PermissionNames="ClientReports"/>
      <siteMapNode title="Job Orders Report" wfmResource="Report.JobOrdersReport" controller="Report" action="GetJobOrderReport" PermissionNames="ClientReports"/>
      <siteMapNode title="Total Hours By Supervisors" wfmResource="Report.TotalHoursBySupervisor"  controller="Report" action="GetTotalHoursBySupervisor" PermissionNames="ClientReports"/>
      <siteMapNode title="Turnover Chart" wfmResource="Report.GetTurnoverChart" controller="Report" action="GetTurnoverChart" PermissionNames="ClientReports"/>
      <siteMapNode title="Weekly Cost Report" wfmResource="Report.WeeklyCostReport" controller="Report" action="GetWeeklyReport" PermissionNames="ClientHRReports"/>
      <siteMapNode title="Budget Forcasting Report" wfmResource="Report.BudgetForcastingReport" controller="Report" action="GetBudgetForcastingReport" PermissionNames="ClientHRReports"/>
      <siteMapNode title="DNR List Report" wfmResource="Report.DNRListReport" controller="Report" action="GetDNRListReport" PermissionNames="ClientHRReports"/>
    </siteMapNode>
  </siteMapNode>
</siteMap>
