@{
    Layout = "_ReportLayout";
    ViewBag.ReportTitle = "Job order fill-in rate report";

    ViewBag.Title = "Job order fill-in rate report";
    Html.SetActiveMenuItemSystemName("JobOrderFillInRateReport");

    var startDate = new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1).AddMonths(-1);
    var endDate = startDate.AddMonths(1).AddDays(-1);
}

<div class="col-md-6">
    @Html.InputLine("fromDate", "From", tmplt: "Date", viewData: new { Value = startDate, OnChange = "startDateChange" })
    @Html.InputLine("toDate", "To", tmplt: "Date", viewData: new { Value = endDate })
</div>

<script type="text/javascript">
    var reportParams = {};
    var reportUrl = '_JobOrderFillInRate';
    function valParams() {
        var result = false;
        var fromDate = $("#fromDate").val();
        var toDate = $("#toDate").val();
        if (!fromDate)
            popupNotification('Please select start date!', 'error');
        else if (!toDate)
            popupNotification('Please select end date!', 'error');
        else {
            result = true;
            reportParams = {
                startDate: fromDate,
                endDate: toDate
            };
        }
        return result;
    }
    function startDateChange() {
        var startDate = this.value();
        var endPicker = $("#toDate").data("kendoDatePicker");
        if (startDate) {
            startDate = new Date(startDate);
            endPicker.min(startDate);
            var suggestedDt = new Date(startDate);
            suggestedDt.setDate(suggestedDt.getDate() + 30);
            endPicker.value(suggestedDt);
        }
    }
</script>
