@{
    ViewBag.Title = T("Common.Home").Text;
}

<table class="adminContent">
    <tr>
        <td>
            <h1>Welcome to Great Connections Workforce Management</h1>
        </td>
    </tr>
</table>