@{
    Layout = "";
}
<div class="content">
    <div class="notification-wrapper">
        @Html.Partial("Notifications")
    </div>
    <div class="cph">
        <table>
            <tr>
                <td class="adminTitle">New Password:</td>
                <td class="adminData required">
                    @Html.Kendo().TextBox().Name("newPassword").HtmlAttributes(new { type = "password" })
                    <div id="error-message-password" class="messageBox messageBoxWarning" hidden></div>
                </td>
            </tr>
            <tr>
                <td class="adminTitle">Re-enter password:</td>
                <td class="adminData required">
                    @Html.Kendo().TextBox().Name("reEnterPassword").HtmlAttributes(new { type = "password" })
                    <div id="error-message" class="messageBox messageBoxWarning" hidden></div>
                </td>
            </tr>
            <tr>
                <td class="adminTitle"></td>
                <td class="adminData">
                    <input type="submit" id="submit-reset-password" value="Save" name="save-password" class="k-button" />
                </td>
            </tr>
        </table>
    </div>
    <div class="clearer"></div>
</div>
    