<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WebServiceuserName" value="WfmWcfUser" />
    <add key="WebServicePassword" value="9C50A88469A4D72921682438A914F7"/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWfmService" />
      </basicHttpBinding>
    </bindings>

    <client>
      <endpoint address="http://localhost:3630/WfmService.svc/soap"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWfmService"
        contract="ServiceReference1.IWfmService" name="BasicHttpBinding_IWfmService" />
    </client>

  </system.serviceModel>
</configuration>