@model ChangePasswordModel
@using Wfm.Shared.Models.Accounts

@{
    Layout = "~/Views/Shared/Layout/_ColumnsOne.Candidate.cshtml";
    ViewBag.PageClass = "html-topic-page";

    ViewBag.Title = T("Admin.Accounts.Account.ResetPassword").Text;
}


<div class="page registration-page">
    @*<div class="page-title">
            <h1>Change Password</h1>
        </div>*@
    <div class="page-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.Partial("Layout/_ChangePassword", Model)
            <div class="buttons">
                <input type="submit" name="save" class="button-1" value="@T("Common.Save")" />
            </div>
        }
    </div>
</div>
