@{
    Layout = "~/Views/Shared/Layout/_ColumnsOne.Candidate.cshtml";
    ViewBag.PageClass = "html-topic-page";

    ViewBag.Title = "Health & Safety Orientation";
}


<div class="page candidate-page">
    <div class="page-body">
        <div class="section-header">
            <div class="title">
                Health and Safety orientation documents
            </div>
        </div>
              
        <p><a href="~/Uploads/HSOrientation/Temporary Employee Guide.pdf">GC Temporary Employee Guide</a></p>
        <p><a href="~/Uploads/HSOrientation/General Safety Orientation.pdf">New Hire Safety Orientation</a></p>
        <p><a href="~/Uploads/HSOrientation/Return-to-work Program Requirements, Forms and Tools.pdf">GC Return-to-work Program Requirements, Forms and Tools</a></p>
        <p><a href="~/Uploads/HSOrientation/Accessibility Policy.pdf">GC Accessibility Policy and Procedures under the AODA</a></p>
        <p><a href="~/Uploads/HSOrientation/Workplace Violence and Harassment Policy and Procedures_GC.pdf">GC Workplace Violence and Harassment Policy and Procedures</a></p>
        <p><a href="~/Uploads/HSOrientation/COVID-19 Awareness Training.pdf">COVID-19 Awareness Training</a></p>
        <p><a href="~/Uploads/HSOrientation/Control of Records Procedure_Updated list.pdf">Control of Records Procedure</a></p>
        <p><a href="~/Uploads/HSOrientation/Corrective Action Policy and Procedure.pdf">Corrective Action Policy and Procedure</a></p>
        <p><a href="~/Uploads/HSOrientation/PPE_GC Employment.pdf">PPE - Personal Protective Equipment</a></p>
        <p><a href="~/Uploads/HSOrientation/Electronic Monitoring Policy.pdf">Electronic Monitoring Policy</a></p>
    </div>
</div>
