@using Wfm.Services.Franchises;

@{
    var franchiseService = EngineContext.Current.Resolve<IFranchiseService>();
    var vendors = franchiseService.GetAllFranchises();
}
<script src="@Url.Content("~/Scripts/admin.common.js?version=1.8")" type="text/javascript"></script>
<table class="adminContent">
    <tr>
        <td>

            @(Html.Kendo().Grid<CompanyVendorModel>()
                .Name("companyvendor-grid")
                .Columns(columns =>
                {
                    columns.ForeignKey(x => x.VendorId, vendors, "Id", "FranchiseName").Title("Vendor");

                    columns.Bound(x => x.IsActive).Title("Active")
                        .ClientTemplate("#if (IsActive == true) {# <span class='k-icon k-i-tick'/> #}else{# <span class='k-icon k-i-close'/> #}#")
                        .HeaderHtmlAttributes(new { style = "text-align:center" })
                        .Width(60);

                    columns.Command(command => { command.Destroy().Text(" "); }).Width(60);
                })
                .ToolBar(toolBar => { toolBar.Save(); toolBar.Create(); })
                .Editable(editable => editable.Mode(GridEditMode.InCell))
                .EnableCustomBinding(false)
                .Filterable()
                .Sortable()
                .ColumnMenu()
                .Events(x=>x.Edit("onEdit"))
                .Selectable()
                .Pageable(x => x.PageSizes(new[] { 10, 20, 30, 50, 100 }).Refresh(true))
                .DataSource(ds => ds
                    .Ajax()
                    .ServerOperation(true)
                    .PageSize(20)
                    .Batch(true)
                    .Read(read => read.Action("_CompanyVendorList", "Company").Data("getGuid"))
                    .Events(events => events.Error("error_handler1"))
                    .Model(model =>
                    {
                        model.Id(x => x.Id);
                        model.Field(x => x.VendorId).Editable(true).DefaultValue(1);
                        model.Field(x => x.IsActive).Editable(true).DefaultValue(true);
                    })
                    .Create(update => update.Action("_AddCompanyVendor", "Company"))
                    .Update(update => update.Action("_EditCompanyVendor", "Company"))
                    .Destroy(update => update.Action("_RemoveCompanyVendor", "Company"))
                            .Events(events => events.Sync(@"function(e){setTimeout(function(){refreshGrid('#companyvendor-grid')})}"))
                )
                    //.Events(ev => ev.Remove(@"function(e){setTimeout(function(){$('#companyvendor-grid').data('kendoGrid').dataSource.sync()})}")
                    //                //.Save(@"function(e){setTimeout(function(){$('#companyvendor-grid').data('kendoGrid').dataSource.sync()})}")
                    //        )
            )

        </td>
    </tr>
</table>
