<script src="@Url.Content("~/Scripts/admin.common.js?version=1.8")" type="text/javascript"></script>
<table class="adminContent">
    <tr>
        <td>

            @(Html.Kendo().Grid<PositionModel>()
                .Name("company-position-grid")
                .Columns(columns =>
                {
                    columns.Bound(x => x.Code).Width(200);
                    columns.Bound(x => x.Name);
                    columns.Command(command => { command.Destroy().Text(" "); }).Width(60);
                })
                .ToolBar(toolBar => { toolBar.Save(); toolBar.Create(); })
                .Editable(editable => editable.Mode(GridEditMode.InCell))
                .EnableCustomBinding(false)
                .Filterable()
                .Sortable()
                .ColumnMenu()
                .Events(x => x.Edit("onEdit"))
                .Selectable()
                .Pageable(x => x.PageSizes(new[] { 10, 20, 30, 50, 100 }).Refresh(true))
                .DataSource(ds => ds
                    .Ajax()
                    .ServerOperation(true)
                    .PageSize(20)
                    .Batch(true)
                    .Read(read => read.Action("_CompanyPositionList", "Position").Data("getGuid"))
                    .Events(events => events.Error("error_handler1"))
                    .Model(model =>
                    {
                        model.Id(x => x.Id);
                        
                    })
                    .Create(update => update.Action("_AddCompanyPosition", "Position"))
                    .Update(update => update.Action("_EditCompanyPosition", "Position"))
                    .Destroy(update => update.Action("_RemoveCompanyPosition", "Position"))
                            .Events(events => events.Sync(@"function(e){setTimeout(function(){refreshGrid('#company-position-grid')})}"))
                )
                    //.Events(ev => ev.Remove(@"function(e){setTimeout(function(){$('#companyvendor-grid').data('kendoGrid').dataSource.sync()})}")
                    //                //.Save(@"function(e){setTimeout(function(){$('#companyvendor-grid').data('kendoGrid').dataSource.sync()})}")
                    //        )
            )

        </td>
    </tr>
</table>

