@model CompanyDepartmentModel

@{
    ViewBag.Title = T("Admin.Companies.CompanyDepartment.EditCompanyDepartmentDetails").Text;
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "companydepartment-form" }))
{
    <div class="section-header">
        <div class="title">
            @T("Admin.Companies.CompanyDepartment.EditCompanyDepartmentDetails")
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            @Html.ActionLink("Cancel", "Details", new { guid = Model.CompanyGuid }, new { @class = "k-button" })
        </div>
    </div>

    @Html.Partial("_CreateOrUpdate.Department", Model)
}
