<div class="block block-category-navigation">
    <div class="title">
        <strong>Job Seekers</strong>
    </div>
    <div class="listbox">
        @Html.Partial("Layout/_JobSeekerMenu")
    </div>
</div>
