<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="Wfm.Web.Framework.ViewEngines.Razor.WebViewPage">
      <namespaces>
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="Wfm.Core.Events" />
        <add namespace="Wfm.Core.Domain.Common" />
        <add namespace="Wfm.Core.Infrastructure" />
        <add namespace="Wfm.Admin.Models.Blogs" />
        <add namespace="Wfm.Admin.Models.Forums" />
        <add namespace="Wfm.Admin.Models.Common" />
        <add namespace="Wfm.Admin.Models.Accounts" />
        <add namespace="Wfm.Admin.Models.Candidate" />
        <add namespace="Wfm.Admin.Models.Companies" />
        <add namespace="Wfm.Admin.Models.CompanyBilling" />
        <add namespace="Wfm.Admin.Models.Directory" />
        <add namespace="Wfm.Shared.Models.Localization" />
        <add namespace="Wfm.Admin.Models.Logging" />
        <add namespace="Wfm.Admin.Models.Messages" />
        <add namespace="Wfm.Admin.Models.Media" />
        <add namespace="Wfm.Admin.Models.Franchises" />
        <add namespace="Wfm.Admin.Models.JobOrder" />
        <add namespace="Wfm.Admin.Models.Payroll" />
        <add namespace="Wfm.Admin.Models.Policies" />
        <add namespace="Wfm.Admin.Models.Security" />
        <add namespace="Wfm.Admin.Models.Settings" />
        <add namespace="Wfm.Admin.Models.QuickSearch" />
        <add namespace="Wfm.Admin.Models.ScheduleTask" />
        <add namespace="Wfm.Admin.Models.Test" />
        <add namespace="Wfm.Admin.Models.ClockTime" />
        <add namespace="Wfm.Admin.Models.TimeSheet" />
        <add namespace="Wfm.Web.Framework" />
        <add namespace="Wfm.Web.Framework.Events" />
        <add namespace="Wfm.Web.Framework.UI" />
        <add namespace="Kendo.Mvc.UI" />
        <add namespace="Wfm.Shared.Models.Accounts" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>

  <appSettings>
    <add key="webpages:Enabled" value="false" />
  </appSettings>

  <system.web>
    <httpHandlers>
      <add path="*" verb="*" type="System.Web.HttpNotFoundHandler"/>
    </httpHandlers>

    <!--
        Enabling request validation in view pages would cause validation to occur
        after the input has already been processed by the controller. By default
        MVC performs request validation before a controller processes the input.
        To change this behavior apply the ValidateInputAttribute to a
        controller or action.
    -->
    <pages
        validateRequest="false"
        pageParserFilterType="System.Web.Mvc.ViewTypeParserFilter, System.Web.Mvc, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
        pageBaseType="System.Web.Mvc.ViewPage, System.Web.Mvc, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
        userControlBaseType="System.Web.Mvc.ViewUserControl, System.Web.Mvc, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <controls>
        <add assembly="System.Web.Mvc, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" namespace="System.Web.Mvc" tagPrefix="mvc" />
      </controls>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />

    <handlers>
      <remove name="BlockViewHandler"/>
      <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>
</configuration>
