<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode title="Home" controller="Home" action="Index">

    <siteMapNode title="Dashboard" wfmResource="Admin.Dashboard" controller="Home" action="News"/>
    <siteMapNode title="Job Orders" wfmResource="Common.JobOrders" PermissionNames="ManageJobOrders,ManageDirectHireJobOrders">
      <siteMapNode title="Job Orders" wfmResource="Common.JobOrders" PermissionNames="ManageJobOrders" controller="JobOrder" action="Index"/>
      <siteMapNode title="Direct Placement" wfmResource="Common.DirectPlacement" PermissionNames="ManageDirectHireJobOrders" controller="DirectHireJobOrder" action="Index"/>
    </siteMapNode>
    <siteMapNode title="Candidates" wfmResource="Common.Candidates" PermissionNames="ManageCandidates, AllowAddCandidates, ManageCandidateBlacklist, MassEmailToCandidates">
      <siteMapNode title="Resumes" wfmResource="Admin.Resumes" PermissionNames="ManageCandidates" controller="Resume" action="Index"/>
      <siteMapNode title="New Candidate" wfmResource="Admin.Candidate.Candidate.AddNew" PermissionNames="AllowAddCandidates" controller="Candidate" action="Create"/>
      <siteMapNode featureName="Applicant Tracking" title="Candidates by Name" wfmResource="Admin.Candidates.ListByName" PermissionNames="ManageCandidates" controller="Candidate" action="List"/>
      <siteMapNode featureName="Applicant Tracking" title="Candidates by Picture" wfmResource="Admin.Candidates.ListByPicture" PermissionNames="ManageCandidates" controller="Candidate" action="ListByPicture"/>
      <siteMapNode featureName="Applicant Tracking" title="Candidates by Address" wfmResource="Admin.Candidates.ListByAddress" PermissionNames="ManageCandidates" controller="Candidate" action="ListByAddress"/>
      <siteMapNode featureName="Applicant Tracking" title="Candidates by Skills" wfmResource="Admin.Candidates.ListBySkills" PermissionNames="ManageCandidates" controller="Candidate" action="ListBySkills"/>
      <siteMapNode featureName="Applicant Tracking" title="Candidates by Resume" wfmResource="Admin.Candidates.ListByResume" PermissionNames="ManageCandidates" controller="Candidate" action="ListByResume"/>
      <siteMapNode title="Import Candidates" wfmResource="Admin.Candidate.Candidate.Import" PermissionNames="AllowAddCandidates" controller="Candidate" action="Import"/>
      <siteMapNode title="Candidate Blacklist" wfmResource="Admin.Candidates.Blacklist" PermissionNames="ManageCandidateBlacklist" controller="Candidate" action="Dnrlist"/>
      <siteMapNode title="Mass Message" wfmResource="Admin.Candidates.MassMessage" PermissionNames="MassEmailToCandidates" controller="Candidate" action="MassMessage"/>
    </siteMapNode>

    <siteMapNode title="Employees" wfmResource="Common.Employees" PermissionNames="ManageEmployees" controller="Employee" action="Index"/>

    <siteMapNode title="Time Clock" wfmResource="Admin.TimeClock" PermissionNames="ApproveTimeSheet, ManageClockTimes, ManageCandidateWorkTime" >
      <siteMapNode title="Attendance Preview" wfmResource="Admin.Menu.AttendancePreview" PermissionNames="ManageCandidateWorkTime" controller="TimeSheet" action="CandidateAttendance"/>
      <siteMapNode title="Clock Time" wfmResource="Admin.ClockTime" PermissionNames="ManageClockTimes" controller="ClockTime" action="Index"/>
      <siteMapNode title="Daily Time Sheets" wfmResource="Admin.Menu.DailyTimeSheets" PermissionNames="ManageCandidateWorkTime" controller="TimeSheet" action="CandidateWorkTime"/>
      <siteMapNode title="Weekly Time Sheets" wfmResource="Admin.Menu.WeeklyTimeSheets" PermissionNames="ManageCandidateWorkTime" controller="TimeSheet" action="EmployeeTimeChartHistory"/>
      <siteMapNode title="Missing Hour" wfmResource="Admin.MissingHour" PermissionNames="ProcessMissingHour" controller="TimeSheet" action="MissingHour"/>
      <siteMapNode featureName="Invoicing" title="Inovice" wfmResource="Admin.Common.Invoice" PermissionNames="ApproveTimeSheet" controller="TimeSheet" action="Invoice"/>
    </siteMapNode>

    <siteMapNode title="Smart Cards" wfmResource="Admin.SmartCards" PermissionNames="ManageCandidateSmartCards, ViewCandidateSmartCards">
      <siteMapNode title="List Smart Cards" wfmResource="Admin.SmartCards.List" PermissionNames="ManageCandidateSmartCards, ViewCandidateSmartCards" controller="SmartCard" action="Index"/>
      <siteMapNode title="Add Smart Cards" wfmResource="Admin.SmartCards.Add" PermissionNames="ManageCandidateSmartCards" controller="SmartCard" action="AddSmartCard"/>
      <siteMapNode title="List Hand Templates" wfmResource="Admin.HandTemplates.List" PermissionNames="ManageCandidateSmartCards, ViewCandidateSmartCards" controller="HandTemplate" action="Index"/>
    </siteMapNode>

    <siteMapNode title="Companies" wfmResource="Common.Companies" PermissionNames="ViewCompanies, ManageContacts, ViewContacts">
      <siteMapNode title="New Company" wfmResource="Admin.Company.AddNew" PermissionNames="ManageCompanies" controller="Company" action="NewCompany"/>
      <siteMapNode title="Company List" wfmResource="Admin.Company.List" PermissionNames="ViewCompanies" controller="Company" action="Index"/>
      <siteMapNode title="Company Contacts" wfmResource="Admin.CompanyContacts" PermissionNames="ManageContacts, ViewContacts" controller="CompanyContact" action="Index"/>
    </siteMapNode>

    <siteMapNode title="Vendors" wfmResource="Admin.Vendors" PermissionNames="ManageVendors" controller="Vendor" action="Index"/>
    <siteMapNode title="Job Postings" wfmResource="Admin.JobPostings" PermissionNames="ManageClientJobPosting" controller="JobPosting" action="Index"/>

    <siteMapNode title="Policies" wfmResource="Admin.Policies" PermissionNames="ManagePolicies">
      <siteMapNode title="Break Policies" wfmResource="Admin.BreakPolicies" controller="BreakPolicy" action="Index"/>
      <siteMapNode title="Meal Policies" wfmResource="Admin.MealPolicies" controller="MealPolicy" action="Index"/>
      <siteMapNode title="Rounding Policies" wfmResource="Admin.RoundingPolicies" controller="RoundingPolicy" action="Index"/>
      <siteMapNode title="Schedule Policies" wfmResource="Admin.SchedulePolicies" controller="SchedulePolicy" action="Index"/>
    </siteMapNode>

    <!--<siteMapNode title="Payroll Configuration" wfmResource="Admin.PayrollConfig" PermissionNames="ManagePayGroups">
      <siteMapNode title="Pay Groups" wfmResource="Payroll.PayGroups" PermissionNames="ManagePayGroups" controller="PayGroup" action="Index"/>
      <siteMapNode title="Payroll Items" wfmResource="Payroll.PayrollItems" controller="PayrollItem" action="Index"/>
    </siteMapNode>-->

    <siteMapNode title="Reports" wfmResource="Admin.Reports" PermissionNames="AdminReports, WeeklyCostReport">
      <siteMapNode title="Available Employees" wfmResource="Admin.Report.AvailableEmployees" PermissionNames="AdminReports" controller="Report" action="GetAvailableEmployees"/>
      <siteMapNode title="Candidate Placement History Report" wfmResource="Report.CandidateJobOrderStatusHistoryReport" PermissionNames="AdminReports" controller="Report" action="GetCandidateJobOrderStatusHistoryReport"/>
      <siteMapNode title="Candidate Sources" wfmResource="Report.CandidateSources" PermissionNames="AdminReports" controller="Report" action="GetCandidateSources"/>
      <siteMapNode title="Client Temporary Staff Assignment" wfmResource="Report.ClientTemporaryStaffAssignment" PermissionNames="AdminReports" controller="Report" action="GetClientTemporaryStaffAssignment"/>
      <siteMapNode title="Daily Time Sheet With Rate" wfmResource="Report.DailyTimeSheetReport" PermissionNames="ManageCandidateTimeSheet" controller="Report" action="GetDailyTimeSheetsWithRate"/>
      <siteMapNode title="Employee Seniority" wfmResource="Admin.EmployeeSeniority" PermissionNames="AdminReports" controller="Report" action="EmployeeSeniority"/>
      <siteMapNode title="Compliance Report" wfmResource="Report.GetComplianceReport" PermissionNames="AdminReports" controller="Report" action="GetComplianceReport"/>
      <siteMapNode title="Employees List Report" wfmResource="Report.EmployeesListReport" PermissionNames="EmployeeListReport" controller="Report" action="GetEmployeesListReport"/>
      <siteMapNode title="Job Order Fill-in Rate" wfmResource="Report.JobOrderFillInRate" PermissionNames="AdminReports" controller="Report" action="GetJobOrderFillInRate"/>
      <siteMapNode title="Time Sheets Validations Report" wfmResource="Report.GetTimeSheetsValidationsReport" PermissionNames="AdminReports" controller="Report" action="GetTimeSheetsValidationsReport"/>
      <siteMapNode title="Total Hours By Candidate" wfmResource="Report.TotalHoursByCandidate" PermissionNames="AdminReports" controller="Report" action="GetTotalHoursByCandidate"/>
      <siteMapNode title="Total Hours By Supervisors" wfmResource="Report.TotalHoursBySupervisor" PermissionNames="AdminReports" controller="Report" action="GetTotalHoursBySupervisor"/>
      <siteMapNode title="Turnover Chart" wfmResource="Report.GetTurnoverChart" PermissionNames="AdminReports" controller="Report" action="GetTurnoverChart"/>
      <siteMapNode title="Weekly Cost Report" wfmResource="Report.WeeklyCostReport" controller="Report" action="GetWeeklyReport" PermissionNames="WeeklyCostReport"/>
      <siteMapNode title="Punch Exceptions" wfmResource="Report.ClockTimeExceptionReport" controller="Report" action="GetClockTimeExceptionReport" PermissionNames="AdminReports"/>
      <siteMapNode title="JobOrder Placement By Recruiter" wfmResource="Report.JobOrderPlacementByRecruiterReport" controller="Report" action="GetJobOrderPlacementSummaryByRecruiter" PermissionNames="JobOrderPlacementByRecruiterReport"/>
      <siteMapNode title="Daily Attendance By Recruiter" wfmResource="Report.DailyAttendanceByRecruiterReport" controller="Report" action="GetDailyAttendanceByRecruiter" PermissionNames="DailyAttendanceByRecruiterReport"/>
      <siteMapNode title="Daily Attendance By Company" wfmResource="Report.AttendanceReport" controller="Report" action="GetAttendanceReport" PermissionNames="AdminReports"/>
      <siteMapNode title="Billing Rates Audit Log Report" wfmResource="Report.BillingRatesAuditLogReport" controller="Report" action="GetBillingRatesAuditLogReport" PermissionNames="BillingRatesAuditLogReport"/>
      <siteMapNode title="Confirmation Email Report" wfmResource="Report.ConfirmationEmailReport" controller="Report" action="GetConfirmationEmailReport" PermissionNames="ConfirmationEmailReport"/>
      <siteMapNode title="One Week Follow Up Report" wfmResource="Report.OneWeekFollowUpReport" controller="Report" action="GetOneWeekFollowUpReport" PermissionNames="AdminReports"/>
      <siteMapNode title="Test Result Report" wfmResource="Report.TestResultReport" controller="Report" action="GetTestResultReport" PermissionNames="TestResultReport"/>
      <siteMapNode title="DNR List Report" wfmResource="Report.DNRListReport" controller="Report" action="GetDNRListReport" PermissionNames="AdminReports"/>
      <siteMapNode title="Payroll Report" wfmResource="Report.PayrollReport" PermissionNames="ManagePayrollReports">
        <siteMapNode title="Employee Information Report" wfmResource="Report.EmployeeInfo" controller="Report" action="GetEmployeeInfoReport" PermissionNames="ManagePayrollReports"/>
        <siteMapNode title="Employee Pay Summary Report" wfmResource="Report.EmployeePaySummary" controller="Report" action="GetEmployeePaySummaryReport" PermissionNames="ManagePayrollReports"/>
        <siteMapNode title="Government Remittance Report" wfmResource="Report.GovernmentRemittance" controller="Report" action="GetGoveronmentRemittance" PermissionNames="ManagePayrollReports"/>
        <siteMapNode featureName="Invoicing" title="Markup Report" wfmResource="Report.MarkupReport" controller="Report" action="GetMarkupReport" PermissionNames="ManagePayrollReports"/>
        <siteMapNode title="Payroll Summary Report" wfmResource="Report.PayrollSummary" controller="Report" action="GetPayrollSummaryReport" PermissionNames="ManagePayrollReports"/>
        <siteMapNode title="SIN Expiry Report" wfmResource="Report.SINExpiry" controller="Report" action="GetSINExpiryReport" PermissionNames="ManagePayrollReports"/>
      </siteMapNode>
    </siteMapNode>

    <siteMapNode title="Content Management" wfmResource="Admin.ContentManagement" PermissionNames="ManageBlog, ManageTopics, ManageForums">
      <siteMapNode title="Blog" wfmResource="Admin.ContentManagement.Blog" PermissionNames="ManageBlog">
        <siteMapNode title="Blog posts" wfmResource="Admin.ContentManagement.Blog.BlogPosts" controller="Blog" action="Index"/>
        <siteMapNode title="Blog comments" wfmResource="Admin.ContentManagement.Blog.Comments" controller="Blog" action="Comments"/>
      </siteMapNode>
      <siteMapNode title="Topics" nopResource="Admin.ContentManagement.Topics" PermissionNames="ManageTopics" controller="Topic" action="List"/>
      <siteMapNode title="Manage forums" nopResource="Admin.ContentManagement.Forums" PermissionNames="ManageForums" controller="Forum" action="List"/>
    </siteMapNode>

    <siteMapNode title="System" wfmResource="Admin.System" PermissionNames="ManageConfiguration, ManageSettings, ManageSystemLog, ManageAccessLog, ManageActivityLog, ManageCandidateActivityLog, ManageMessageHistory, ManageMessageTemplates, ManageCountries, ManageLanguages, ManageACL, ManagePlugins">
      <siteMapNode title="Settings" wfmResource="Admin.Settings" PermissionNames="ManageConfiguration, ManageSettings, ManageAccessLog, ManageActivityLog, ManageCandidateActivityLog, ManageMessageHistory, ManageMessageTemplates, ManageCountries, ManageLanguages, ManageACL, ManagePlugins" controller="Configuration" action="Index"/>
      <siteMapNode title="Logging" wfmResource="Admin.Logging" PermissionNames="ManageSystemLog, ManageAccessLog, ManageActivityLog, ManageCandidateActivityLog, ManageMessageHistory">
        <siteMapNode title="System Log" wfmResource="Admin.Logging.SystemLog" PermissionNames="ManageSystemLog" controller="Log" action="Index"/>
        <siteMapNode title="Access Log" wfmResource="Admin.Logging.AccessLog" PermissionNames="ManageAccessLog" controller="AccessLog" action="Index"/>
        <siteMapNode title="Activity Log" wfmResource="Admin.Logging.ActivityLog" PermissionNames="ManageActivityLog" controller="ActivityLog" action="Index"/>
        <siteMapNode title="Candidate Activity Log" wfmResource="Admin.Logging.CandidateActivityLog" PermissionNames="ManageCandidateActivityLog" controller="CandidateActivityLog" action="Index"/>
        <siteMapNode title="Message Log" wfmResource="Admin.Logging.MessageLog" PermissionNames="ManageMessageHistory" controller="MessageHistory" action="Index"/>
      </siteMapNode>
    </siteMapNode>

  </siteMapNode>
</siteMap>
