@{
    Layout = "~/Views/Shared/Layout/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.SystemClosed").Text);
}
<div class="page store-closed-page">
    <div class="page-title">
        <h1>The system is closed temporarily.</h1>
    </div>
    <div class="clear">
    </div>
    <div class="page-body">
        You may check again later.
    </div>
</div>
