@{
    Layout = "_PanelGroup";
    ViewBag.EmptyHeader = true;
}

<div class="box box-info">
    <div class="box-header with-border" data-widget="collapse" id="search-box">
        <i class="fa fa-minus" style="display: none;"></i>
        <h3 class="box-title pull-left">
            <i class="fa fa-search"></i>
            <span>@ViewBag.ReportTitle</span>
        </h3>
    </div>
    <div class="box-body">
        <div class="row">
            @RenderBody()
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align:center;vertical-align:middle;margin-top:10px;">
                <button type="submit" class="btn btn-primary" onclick="loadReport(event);">
                    <i class="fa fa-search"></i>@T("Admin.Common.Load")
                </button>
            </div>
        </div>
    </div>
</div>
<div id="report"></div>

@section scripts{<script type="text/javascript">
    function loadReport(e) {
        var isValid = typeof valParams === 'function' ? valParams() : true;
        if (isValid && reportUrl && reportParams) {
            $("#report").load(reportUrl, reportParams,
                function (response, status, xhr) {
                    collapseSearchBox('#search-box');
                    showThrobberNow('Loading report...');
                    if (typeof onReportLoaded === 'function')
                        onReportLoaded(response, status, xhr);
                }
            );
        }
    }
</script>}
