@using Wfm.Web.Framework.HtmlHelpers;
@using Wfm.Core.Infrastructure
@using Wfm.Core.Domain.Common
@{
    Layout = "~/Views/Shared/Layout/_ColumnsOne.cshtml";
    ViewBag.PageClass = "html-topic-page";

    var commonSettings = EngineContext.Current.Resolve<CommonSettings>();
    var siteTitle = commonSettings.SiteTitle;
    var shortName = "GC Employment Staffing Agency";
    var pageTitle = "About Us";
    var description = siteTitle + " is one of Ontario’s most successful full cycle employment services agencies and staffing compaines.";

    ViewBag.Title = pageTitle + " | " + shortName;
    ViewBag.Description = description;
    ViewBag.Keywords = null;
    ViewBag.PageTitle = ViewBag.Title;
    ViewBag.PageDescription = ViewBag.Description;
    ViewBag.PageName = shortName + " | " + pageTitle;
}

<div class="page topic-page" id="ph-topic">
    <div class="page-title" id="ph-title">
        <h1>About Us</h1>
        <h4>Connecting great companies with great people<sup>&reg;</sup></h4>
    </div>
    <div class="page-body">
        <div class="content-image">
            <img src="@Url.Content("~/Content/images/cms/inside/inside_img_01.jpg")" alt="About @siteTitle Employment Services" />
        </div>
        <p>
            @siteTitle is one of Ontario’s most successful full cycle employment services
            agencies. Our reputation has been built upon our ability to successfully place permanent,
            contract and temporary staff of the highest calibre across a growing number of specialist
            sectors. Our experience in diverse placements is a competitive advantage, not only
            for @siteTitle, but also for our clients and employees. As a result, we are
            a preferred staffing partner for Fortune 500 and other industry leading companies,
            as well as enterprising local firms.
            <br />
            <br />
            We provide superior 24/7 customer service and leading-edge technology in the staffing
            industry.
            <br />
            <br />
            @siteTitle’ team of highly-qualified consultants has diverse expertise and
            industry experience. This breadth of experience enables our industry professionals
            to accurately assess each project's staffing requirements and place the right candidates
            to ensure a great connection.
            <br />
            <br />
            With our first-rate recruitment process, industry network of recruiting experts,
            as well as our exceptional track record of providing highly-dependable employees,
            we take the risk out of our clients’ human resource decisions. @siteTitle
            strives excellence to commit the highest quality standard being achieved. As an
            ISO 9001:2008 Certified organization, our quality is regularly measured and assessed
            to ensure continuous improvement.
        </p>
    </div>
</div>
