@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Terms of Use | Tempus Workforce Management</title>
    <link href="@Url.Content("~/Content/login.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="privacypolicy-box">
        <div class="privacypolicy-header"></div>
        <h3>Terms of use</h3>
        <p>
            This page details the Terms of Use under which you may use this web site (the “Site”)
            and our services are offered. By using this web site, you are indicating your acceptance
            to be bound by the terms of these Terms of Use. Tempus Workforce Management
            (the “Tempus Workforce” or the “Company”) reserves the right update the Terms
            of Use of this Site without notice. Please review the Terms of Use posted on this
            Site periodically for any updates. Your continued use of this Site constitutes acceptance
            of these changes. The terms "You" and "User" as used herein refer to all individuals
            and/or entities accessing this web site for any reason.
        </p>
        <b>Site use</b>
        <p>
            Users may not use the Site in order to transmit, distribute, store or destroy material
            (a) in violation of any applicable law or regulation, (b) in a manner that will
            infringe the copyright, trademark, trade secret or other intellectual property rights
            of others or violate the privacy, publicity or other personal rights of others,
            or (c) that is defamatory, obscene, threatening, abusive or hateful. Users are prohibited
            from: (a) accessing data not intended for such user or logging into a server or
            account which the user is not authorised to access, (b) deleting or revising any
            material posted by any other person or entity, (c) using any device, software or
            routine to interfere or attempt to interfere with the proper working of this Site
            or any activity being conducted on this site (d) if you have a password allowing
            access to a non-public area of this Site, disclosing to or sharing your password
            with any third parties or using your password for any unauthorised purpose.
        </p>
        <b>Disclaimer and limitation of liability</b>
        <p>
            The material on this Site is not intended to provide legal advice to any individual
            and should not be relied upon in that regard. Reasonable efforts have been made
            to ensure the accuracy, veracity, timeliness and quality of the content provided
            on this Site. Tempus Workforce makes no warranty or representation as to the accuracy
            or completeness of the information contained on this Site and accepts no responsibility
            arising from the reliance upon the information contained therein.
            <br />
            <br />
            This Site does not warrant that the Site will operate error-free or that the Site
            and its server are free of computer viruses or other harmful mechanisms. If your
            use of the Site or the material results in the need for servicing or replacing equipment
            or data, this Site is not responsible for those costs. The Site and material are
            provided on an “as is” basis without any warranties of any kind.
            <br />
            <br />
            In no event shall Tempus Workforce, its suppliers, or any third parties mentioned
            on this Site be liable for any damages whatsoever (including, without limitation,
            incidental and consequential damages, lost profits, or damages resulting from lost
            data or business interruption) resulting from the use or inability to use this Site
            and the material, whether based on warranty, contract, tort, or any other legal
            theory, and whether or not this Site is advised of the possibility of such damages.
            <br />
            <br />
            The Company reserves the right to edit, delete, modify, vet or change any material
            posted on this Site at its sole discretion.
        </p>
        <b>Confidentiality</b>
        <p>
            The application contains trade secrets and proprietary know-how that belong to Tempus Workforce and it is being made available to you in strict confidence. ANY USE OR DISCLOSURE OF THE SOFTWARE, OR OF ITS ALGORITHMS, PROTOCOLS, OR INTERFACES, OTHER THAN IN STRICT ACCORDANCE WITH THIS AGREEMENT, MAY BE ACTIONABLE AS A VIOLATION OF OUR TRADE SECRET RIGHTS.
        </p>
        <b>Copyright</b>
        <p>
            The Site, its organization and design, and all information, images, artwork, text,
            video, audio, pictures and other materials on the Site (collectively the “Content”)
            are protected by copyright and other proprietary rights, all of which are owned
            by Tempus Workforce Management You may download information from
            the Site for your personal, non-commercial viewing, but you may not, directly or
            indirectly, otherwise copy, reproduce, republish, post, transmit, display, frame
            in another web page, perform, distribute, modify or create derivative works from
            the Content without the written permission of the Company.
        </p>
    </div>
</body>
</html>