@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Application Agreement | Tempus Workforce Management</title>
    <link href="@Url.Content("~/Content/login.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="privacypolicy-box">
        <div class="privacypolicy-header"></div>
        <h3>Application Agreement</h3>

        <h4>TEMPORARY EMPLOYMENT APPLICANT AGREEMENT</h4>

        <b>The following terms and conditions are applicable only to individuals applying for temporary employment with Tempus Workforce Management:</b>
        <ol>
            <li>I acknowledge and agree that although I may have completed certain pre-hire documentation, including agreeing to the terms herein, I have not commenced employment with Tempus Workforce Management I further acknowledge and agree that Tempus Workforce Management’s discussing an assignment with me or discussing my suitability for an assignment with a client will not constitute an attempt by Tempus Workforce Management to assign me to a client. I understand that when a suitable assignment for me has been identified, I will be contacted, and only on the first day of my assignment will my employment with Tempus Workforce Management commence. I acknowledge that any information provided by Tempus Workforce Management regarding the length of any work assignment is only an estimate and is not a representation or a guarantee. </li>
            <li>I agree that I am an employee of Tempus Workforce Management only and not an employee of any Tempus Workforce Management client to which I am assigned. I acknowledge that as an employee of Tempus Workforce Management, I will not be entitled to participate in any client employee benefit plans or any other entitlements that client employees may receive. </li>
            <li>Prior to and during an assignment with Tempus Workforce Management, I will disclose any potential or actual conflict of interest which I have relating to Tempus Workforce Management or any of its clients or prospective clients as soon as I become aware of the potential or actual conflict. </li>
            <li>Tempus Workforce Management will take into account any work limitation or preference information provided by me. It is my responsibility to provide Tempus Workforce Management with this information and to provide updates if necessary. </li>
            <li>I agree that if I incur any expenses in order to qualify for an assignment (for example, in purchasing a uniform or safety boots, or in obtaining a driver’s abstract), these expenses will not be considered a fee pursuant to applicable employment standards.</li>
            <li>At the end of any work assignment or my employment with Tempus Workforce Management, I will return to Tempus Workforce Management, in good condition, any property belonging to Tempus Workforce Management or its clients, including job-related apparel or equipment provided for the purposes of a work assignment. </li>
            <li>When I am not on assignment with a Tempus Workforce Management client, I agree to contact my local Tempus Workforce Management branch at the start of each work week to advise whether I am available for work.</li>
            <li>I authorize Tempus Workforce Management to check my references and I confirm that I have given consent to my references for sharing information with Tempus Workforce Management I also authorize Tempus Workforce Management to share information obtained from reference checks, any background checks, training and testing, as well as resume information, with Tempus Workforce Management clients or prospective clients. I confirm the information provided in my resume and any other application documentation is true. </li>
            <li>Applicable to associates on assignment in the province of Ontario ONLY: If I do not contact Tempus Workforce Management and confirm that I am available, I will be deemed to be unavailable for that week for the purposes of the Employment Standards Act, 2000. If I am unavailable for twelve (12) weeks, I will be deemed to have abandoned my employment and/or there will be just cause for termination of my employment and I will not be entitled to any notice of termination, nor pay in lieu of such notice or severance pay (if applicable) pursuant to contract law, any applicable provincial employment standards legislation and the common law. </li>
            <li>I will not, without first informing Tempus Workforce Management, accept any offer of employment made to me by a Tempus Workforce Management client. Furthermore, I will not invite or solicit, directly or indirectly, employment at a Tempus Workforce Management client where I am assigned, unless in response to a general solicitation or recruitment made by the client in the media.</li>
            <li>I will treat all information and knowledge, however received, about the business and affairs of Tempus Workforce Management, Tempus Workforce Management client(s), and the clients’ respective customers, with the strictest confidence. For greater clarity, I will not disclose, or use any information about Tempus Workforce Management or its clients or their customers to any person, firm or corporation, other than for work- related pre-authorized reasons. I understand that this obligation continues after the end of my employment with Tempus Workforce Management and survives the termination of this Agreement. </li>
            <li>I will not, either during or after the termination of this Agreement, use the name of Tempus Workforce Management or its clients in any way to their detriment or intended detriment. </li>
            <li>I authorize Tempus Workforce Management to disclose to, transfer to and store at any of its affiliates any personal information necessary for processing my pay. I understand that an affiliated company may be located across national borders and be subject to the laws of that jurisdiction.</li>
            <li>I understand that Tempus Workforce Management’s method of payment is pay cheque. I understand that there may be delays in receiving my pay if I do not report my hours, if I am late in turning in my time card or for other reasons such as legal holidays. In case of overpayment, I authorize Tempus Workforce Management to directly withhold any monies from future payments to me. Where a payment has been deposited to me in error, I will promptly repay Tempus Workforce Management for all overpayments by cheque or money order. I also authorize Tempus Workforce Management to contact the bank to verify any of the above information. </li>
            <li>Vacation pay. I agree to receive vacation pay on each pay period, so that wages and the corresponding vacation pay will be paid at the same time.</li>
            <li>I confirm that I am eligible to work in Canada and will provide proof of status if required. </li>
        </ol>


        <h4>PERMANENT PLACEMENT CANDIDATE AGREEMENT</h4>

        <b>The following terms and conditions are applicable only to permanent placement candidates (seeking employment with Tempus Workforce Management’s clients):</b>
        <ol>
            <li>I will treat all information and knowledge, however received, about the business and affairs of Tempus Workforce Management, any Tempus Workforce Management client, and the customers of any Tempus Workforce Management client, with the strictest confidence. For greater clarity, I will not disclose, or use for my personal gain or benefit, any information about Tempus Workforce Management or its clients to any person, firm or corporation. I understand that this obligation survives my association with Tempus Workforce Management </li>
            <li>I understand that, as a potential candidate represented by Tempus Workforce Management, my loyalties lie with Tempus Workforce Management and I will not at any time invite, consider, or accept any offer of employment made to me by a client of Tempus Workforce Management to whom I have been referred, either verbally or in writing, without prior approval from Tempus Workforce Management. I am aware that the acceptance of any offers of employment within six (6) months from the date of introduction to any Tempus Workforce Management client to whom I have been referred will result in a placement fee being charged to that client. </li>
            <li>Before being presented to any Tempus Workforce Management client or prospective client, I agree to disclose whether I have been previously presented to the same client, with respect to the same opportunity, by another placement agency. </li>
            <li>Prior to accepting any job offer, I will disclose any conflict of interest that may arise as a result of being referred to any Tempus Workforce Management client or prospective client for the purpose of being considered for a permanent position with that organization. </li>
            <li>I authorize Tempus Workforce Management to check my references and I confirm that I have authorized my references to share information with Tempus Workforce Management I also authorize Tempus Workforce Management to share information obtained from reference and/or background checks, as well as resume information, with Tempus Workforce Management clients or prospective clients. I confirm the authenticity of the information provided in my resume and any corresponding application documentation. </li>
            <li>When presented with a job offer by a Tempus Workforce Management client or prospective client, I agree that I will ensure that the written offer accurately reflects my understanding of the position and that all representations made regarding the position are contained in the written offer. In other words, I will ensure that there are no representations, besides those contained in the job offer, on which I am relying in accepting the offer. </li>
            <li>I understand that Tempus Workforce Management will attempt to ensure the suitability of all jobs presented to me and that Tempus Workforce Management assumes no liability for the terms and conditions of any job that I accept, which was referred to me by Tempus Workforce Management </li>
            <li>This Agreement does not restrict me from pursuing other methods to search for employment or using alternative services to assist me in any search for employment. </li>
            <li>I hereby confirm that I am eligible to work in Canada and will provide proof of status if required. </li>
        </ol>

    </div>
</body>

</html>